[access]
	inheritFrom = Dev-ACL-Template
[project]
	description = library to parse AbiWord file-format
[submit]
	action = cherry pick
[access "refs/heads/*"]
	owner = group libabw-admins
	read = group ReplicateFDO
	create = group libabw-admins
	push = +force group libabw-admins
	pushTag = group libabw-admins
	pushSignedTag = group libabw-admins
	pushMerge = group libabw-admins
